<h1 mat-dialog-title>{{ tituloDialogo }}</h1>

<div mat-dialog-content [formGroup]="productoForm">

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Nombre del Producto</mat-label>
    <input matInput formControlName="nombreProducto" placeholder="Nombre del producto"> <mat-error *ngIf="productoForm.get('nombreProducto')?.hasError('required')"> El nombre es requerido.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>URL de Imagen</mat-label>
    <input matInput formControlName="imagenUrl" placeholder="http://...">
    <mat-error *ngIf="productoForm.get('imagenUrl')?.hasError('required')">
      La URL de la imagen es requerida.
    </mat-error>
  </mat-form-field>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field-half">
      <mat-label>Precio (Q)</mat-label>
      <input matInput type="number" formControlName="precio" placeholder="0.00">
      <mat-error *ngIf="productoForm.get('precio')?.hasError('required')">
        Requerido.
      </mat-error>
       <mat-error *ngIf="productoForm.get('precio')?.hasError('min')">
        Debe ser positivo.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field-half">
      <mat-label>Stock</mat-label>
      <input matInput type="number" formControlName="stock" placeholder="0"> <mat-error *ngIf="productoForm.get('stock')?.hasError('required')"> Requerido.
      </mat-error>
      <mat-error *ngIf="productoForm.get('stock')?.hasError('min')"> Debe ser positivo.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field-half">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="idCategoria"> <mat-option *ngFor="let cat of categorias" [value]="cat.id">
          {{ cat.nombreCategoria }} </mat-option>
      </mat-select>
      <mat-error *ngIf="productoForm.get('idCategoria')?.hasError('required')"> Requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field-half">
      <mat-label>Proveedor</mat-label>
      <mat-select formControlName="idProveedor"> <mat-option *ngFor="let prov of proveedores" [value]="prov.id">
          {{ prov.nombreProveedor }} </mat-option>
      </mat-select>
      <mat-error *ngIf="productoForm.get('idProveedor')?.hasError('required')"> Requerido.
      </mat-error>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onCancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onGuardar()" [disabled]="productoForm.invalid">
    {{ isEditMode ? 'Actualizar' : 'Guardar' }}
  </button>
</div>
