<h1 mat-dialog-title>{{ tituloDialogo }}</h1>

<div mat-dialog-content [formGroup]="proveedorForm">

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Nombre del Proveedor</mat-label>
    <input matInput formControlName="nombreProveedor" placeholder="Nombre S.A.">
    <mat-error *ngIf="proveedorForm.get('nombreProveedor')?.hasError('required')">
      El nombre es requerido.
    </mat-error>
  </mat-form-field>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-field-half">
      <mat-label>Nombre de Contacto</mat-label>
      <input matInput formControlName="contacto" placeholder="Juan Pérez">
      <mat-error *ngIf="proveedorForm.get('contacto')?.hasError('required')">
        Requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field-half">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" placeholder="5555-5555">
      <mat-error *ngIf="proveedorForm.get('telefono')?.hasError('required')">
        Requerido.
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Correo Electrónico</mat-label>
    <input matInput formControlName="correo" placeholder="ejemplo@correo.com">
    <mat-error *ngIf="proveedorForm.get('correo')?.hasError('required')">
      El correo es requerido.
    </mat-error>
    <mat-error *ngIf="proveedorForm.get('correo')?.hasError('email')">
      Correo no válido.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Dirección</mat-label>
    <textarea matInput formControlName="direccion" placeholder="Ciudad, País..."></textarea>
    <mat-error *ngIf="proveedorForm.get('direccion')?.hasError('required')">
      Requerido.
    </mat-error>
  </mat-form-field>

</div>

<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onCancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onGuardar()" [disabled]="proveedorForm.invalid"> {{ isEditMode ? 'Actualizar' : 'Guardar' }}
  </button>
</div>
