/* Contenedor principal de la tabla */
.table-container {
  position: relative;
  overflow: auto;
  max-height: 70vh; /* Ajusta la altura máxima de la tabla */
}

/* Tabla con ancho completo */
table {
  width: 100%;
}

/* Barra de herramientas */
.table-toolbar {
  background-color: #fafafa;
  margin-bottom: 16px;
  border-radius: 4px;
}

/* Espaciador para empujar el botón a la derecha */
.toolbar-spacer {
  flex: 1 1 auto;
}

/* Contenedor del campo de búsqueda */
.search-container {
  display: flex;
  justify-content: flex-start; /* Cambio de center a flex-start para alinearlo a la izquierda */
  margin-bottom: 20px;
  padding: 0 16px;
}

/* Campo de búsqueda */
.search-field {
  width: 100%;
  max-width: 400px;

  /* Estilo para el ícono de búsqueda */
  .mat-icon {
    color: #0CB7F2;
  }
}

/* Asegura que el paginador se vea bien */
.mat-mdc-paginator {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
